@model IEnumerable<MusicMatch.Models.Genre>

<h2>Genres List</h2>

<form asp-action="Index" method="get" class="form-inline mb-3">
    <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search genres" />
    <button type="submit" class="btn btn-primary ml-2">Search</button>
</form>

<table class="table text-light">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model)
        {
            <tr>
                <td>@genre.Name</td>
                <td>@genre.Description</td>
                <td>
                    <a asp-action="Details" asp-route-id="@genre.Id" class="btn btn-info">Details</a>

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@genre.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@genre.Id" class="btn btn-danger">Delete</a>
                    }

             
                </td>
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn btn-success">Add New Genre</a>
}
