@model IEnumerable<MusicMatch.Models.Song>

<h2>Song List</h2>

<form asp-action="Index" method="get" class="form-inline mb-3">
    <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search songs" />
    <button type="submit" class="btn btn-primary ml-2">Search</button>
</form>

@if (User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn btn-success">Add New Song</a>
}

<table class="table text-light">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model)
        {
            <tr>
                <td>@song.Title</td>
                <td>@song.Artist?.Name</td>
                <td>@song.Genre?.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@song.Id" class="btn btn-info">Details</a>

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@song.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@song.Id" class="btn btn-danger">Delete</a>
                    }

             
                </td>
            </tr>
        }
    </tbody>
</table>
