@model IEnumerable<MusicMatch.Models.Playlist>

@{
    ViewData["Title"] = "My Playlists";
}

<h1>My Playlists</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Playlist</a>
</p>

<table class="table text-light">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Visibility</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var playlist in Model)
        {
            <tr>
                <td>@playlist.Name</td>
                <td>@playlist.Description</td>
                <td>@playlist.Visibility</td>
                <td>
                    <a asp-action="Details" asp-route-id="@playlist.Id" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@playlist.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@playlist.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
